<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='../static/style.css'>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
    <title>Teachers Feedback</title>
</head>
<body>
    <div class='container'>
        <img src="../static/logo.jpg" alt='WZIM' class='logo'>
        {% if message %}
            <p class='message'>{{ message | safe}}</p>
        {% endif %}
        
        <!-- @todo - message -->
        <form action='/submit' method='POST'>
            <div class='form-group'>
                <h3>Student's name</h3>
                <input type='text' name='student' placeholder="Your name">
            </div>
            <div class='form-group'>
                <h3>Teacher</h3>
                <select name='teacher'>
                    <option value="">Choose your teacher</option>
                    <option value="McGonagall">McGonagall</option>
                    <option value="Lockhart">Lockhart</option>
                    <option value="Sprout">Sprout</option>
                    <option value="Slughorn">Slughorn</option>
                    <option value="Pomfrey">Pomfrey</option>
                    <option value="Snape">Snape</option>
                    <option value="FLitwick">Flitwick</option>
                    <option value="Quirrell">Quirrell</option>
                </select>
            </div>
            <div class='form-group oceny'>
                <h3>Rate your teacher</h3>
                <input type="radio" name="rating" value='1'> 1
                <input type="radio" name="rating" value='2'> 2
                <input type="radio" name="rating" value='3'> 3
                <input type="radio" name="rating" value='4'> 4
                <input type="radio" name="rating" value='5' checked> 5
            </div>
            <div class="form-group">
          <h3>Comment</h3>
          <textarea
            name="comments"
            id=""
            cols="30"
            rows="10"
            placeholder="Describe shortly your expirience"
          ></textarea>
            </div>
            <input type="submit" value="Submit" class="btn" />
        </form>
    </div>
</body>
</html>